.App {
  text-align: center;
}

.logo {
  height: 350px;
  width: 550px;
}
.square {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  font-size: xx-large;
}
.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0;
}

.status {
  font-size: 300%;
  color: rgba(233, 174, 171, 0.712);
  margin-bottom: 10px;
}

.restart-button {
  background-color: rgba(233, 174, 171, 0.712);
  color: rgb(9, 8, 8);
  font-weight: 600;
  font-size: 120%;
  padding: 20px 50px; /* Increase padding for a larger button */
  width: 10%; /* Increase width for a wider button */
  border: none;
  cursor: pointer;
  border-radius: 80px;
  margin-top: 10px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
